.detail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-box {
  padding: 10px;
  width: 80vw;
  min-width: 300px;
  max-width: 600px;
  background-color: #ffffff;
  display: grid;
  gap: 10px;
  text-align: center;
}

.detail-img {
  padding-top: 70%;
  background-repeat: none;
  background-size: cover;
}

.detail-title {
  font-size: 2rem;
  font-weight: 900;
}